/* SideMenu.css */

/* Container styles */
.SideMenu {
    width: 200px; /* Set your desired width */
    height: 100vh; /* Set your desired height */
    background-color: #001529; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
  }
  
  /* Menu styles */
  .SideMenuVertical {
    background-color: #c9d5e0; /* Set your desired background color for the menu */
    color: #fff; /* Set your desired text color for the menu */
  }
  
  /* Menu item styles */
  .SideMenuVertical .ant-menu-item {
    padding: 16px 24px; /* Set your desired padding for each menu item */
  }
  
  /* Icon styles */
  .SideMenuVertical .ant-menu-item-icon {
    color: #fff; /* Set your desired color for the icons */
    font-size: 18px; /* Set your desired font size for the icons */
  }
  
  /* Active menu item styles */
  .SideMenuVertical .ant-menu-item-selected {
    background-color: #edf2f6; /* Set your desired background color for the active menu item */
  }
  
  /* Add more styles as needed */
  